@import './index.css';

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: var(--bg-primary);
  color: var(--text-primary);
}

.app {
  display: grid;
  place-items: center;
  justify-content: center;
}